@import url(https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);

.page__body {
    font-family: Open Sans, sans-serif;

}

.container {
    width: 1285px;
    margin-left: auto;
    margin-right: auto;
}

/*------------HEADER-------------*/

.page__header {
    padding-top: 29px;
    padding-bottom: 80px;

}

.header__wrap {
    display: flex;
    align-items: center;

}

.header__line {
    height: 1px;
    background-color: #ebe8f4;
    border: none;
    margin-top: 29px;
}

.header__logo {
    margin-right: 149px;
}

.header__nav-list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0 281px 0 0;
}

.header__nav-item {
    margin-right: 44px;

}

.header__nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__link-box {
    display: flex;
}

.header__search-link {
    margin-right: 16px;
}

.header__cart-link {
    margin-right: 16px;
}

/*----------PRODUCTS----------*/

.products__title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: #2a254b;
    text-align: center;
}

.wrapper__products {
    display: flex;
    justify-content: space-around;

}

.products__menu {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.products__item {
    margin-right: 60px;
    padding: 12px 0 12px 24px;
    position: relative;

}

.products__item:last-child {
    margin-right: 0;
}

.products__item::after {
    content: "";
    background-image: url(../image/caret--down.png);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 110%;
    top: 30%;
    background-color: #2A254B;
    margin: 0;

}

.products__item-select {
    appearance: none;
    border: none;
    padding-left: 15px;
    padding-right: 15px;

}

.products__date {

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.products__date-item {
    list-style-type: none;
    padding: 12px 0 12px 24px;

}

.products__date-sorting {
    appearance: none;
    border: none;
    margin-left: 40px;
    padding-left: 15px;
    padding-right: 15px;

}

.products__date-item::after {
    content: "";
    background-image: url(../image/caret--down.png);
    display: block;
    width: 16px;
    height: 16px;
    background-color: #2A254B;
    position: absolute;
    top: 35%;
    left: 102%;

}

/*-------------PRODUCTS LIST---------------*/

.products__list {
    margin-top: 28px;
    margin-bottom: 48px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 0;
}

.products__name {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a254b;
    font-family: Montserrat;
}

.products__cost {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2a254b;
}

.products__collection-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    padding: 16px 32px;
    background-color: #f9f9f9;
    display: block;
    width: 175px;
    height: 56px;
    margin: 0 auto 40px auto;
}

/*--------REGISTRATION----------*/

.wrap_registration {
    display: flex;

}

.registration__img {

    margin-right: 49px;
    background-image: url(../image/join-background.jpg);
    width: 720px;
    height: 521px;

}

.registration__title {

    font-weight: 400;
    font-size: 32px;
    color: #2a254b;
    font-family: Montserrat;
    margin-top: 71px;
    margin-bottom: 21px;
}

.registration__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    margin-bottom: 216px;
    margin-top: 0;
    width: 470px;
}

.registration__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    background-color: #2a254b;
    padding: 16px 32px;
    display: inline-block;

}

/*----------FOOTER--------------*/

.page__footer {
    background-color: #2a254b;
    padding-top: 58px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4E4D93;


}

.footer__top-menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 48px;

}

.footer__menu {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    font-family: Montserrat;
    margin-bottom: 12px;
    opacity: 80%;
}


.footer__top-link {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 200%;
    opacity: 80%;

}

.footer__bottom {
    margin-top: 24px;
    padding-bottom: 22px;
}

.footer__bottom-wrap {
    display: flex;

}

.footer__bottom-text {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    opacity: 80%;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__bottom-socials {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.footer__socials-item {
    margin-right: 24px;
}

.footer__socials-item:last-child {
    margin-right: 0;
}

.socials__item-in {
    background-image: url(../image/logo--linkedin.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.socials__item-fb {
    background-image: url(../image/logo--facebook.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.socials__item-inst {
    background-image: url(../image/logo--instagram.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.socials__item-sc {
    background-image: url(../image/logo--skype.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.socials__item-tw {
    background-image: url(../image/logo--twitter.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.socials__item-pint {
    background-image: url(../image/logo--pinterest.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}